---
import Layout from "./components/layout.astro";
---
<Layout pageTitle="este  es el index">

	<!--  -->
    <h1>Esto el el home principal</h1>
    <p>Bienbenidos al Blog</p>
    <hr>
    <br>
    <a href="/blog/post/notas">Notas</a>
    <br>
    <a href="/blog/post/primera_publi">Primera Publicacion</a>

</Layout>
	
