---
import Layout from "./components/layout.astro";
import  Button from "./components/ButtonSuscribe"
import { ToastContainer } from 'react-toastify';
---
<Layout pageTitle="Esto el el home principal">

    <h1>Curso Astro</h1>
    <p>Bienvenidos al Curso</p>
    
    <Button client:load/>
    <ToastContainer client:load/>

</Layout>
	
	
