---
import Layout from "./components/layout.astro";
import Card from "./components/card.astro";
---
<Layout pageTitle="este  es el index">
    <style>

</style>
<h1>Nuestros Servicios</h1>

<Card  title="Ventas" content="las mejores ventas"/>

<Card title="Finanzas"content="tus finanzas aqui"/>

<Card title="correos"content="suscribite"/>

<Card title="compras"content="tus mejores compras"/>

</Layout>

